<div class="firstPage">
<h1>Waiter availability</h1>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ducimus suscipit sequi quaerat velit, reiciendis delectus. Sed praesentium, commodi quod aut necessitatibus tempore dignissimos deserunt suscipit harum maiores, totam officiis?

<div class="buttons">
    <button type="submit"><a href="/waiters/:username" class="btn">shedule</a> </button>

<button type="submit"><a href="/days" class="dell">admin</a></button>
</div>
  
 </div>