<div class="container">


<div class="selections">
<form action="/waiters/{{username}}" method="POST">

<div class="getmessage">
    <h1>Greeting to You</h1>
{{this.username}}
</div>

  <input type="checkbox" id="day1" name="day1" value="Bike">
  <label for="day1">Sunday</label><br>
  <input type="checkbox" id="day2" name="day2" value="Car">
  <label for="day2">Monday</label><br>
  <input type="checkbox" id="day3" name="day3" value="Boat">
  <label for="day3">Tuesday</label><br><br>
  <input type="checkbox" id="day4" name="day4" value="Bike">
  <label for="day1">wednesday</label><br>
  <input type="checkbox" id="day5" name="day5" value="Car">
  <label for="day1">Thursday</label><br>
    <input type="checkbox" id="day6" name="day6" value="Bike">
  <label for="day1">friday</label><br>
  <input type="checkbox" id="day7" name="day7" value="Car">
 <label for="day1">Saturday</label><br>
 <div>
     <input type="submit" value="Submit">
 </div>

</form>
</div>
</div>